<h1>User ID: <%= @user.id %> </h1>
<div class='d-flex'>
  <div class='img wid'>
    <img src=<%= @user.photo%> alt='user_image'/>
  </div>
  <div class='d-flex img'>
    <h2>Name: <%= @user.name %> </h2>
    <h3 class='d-user'>Number of posts:<%= @user.posts_counter%> </h3>
  </div>
</div>


<% @posts.each do |post| %>
  <div class='bio font'>
    <a id="<%=post.id%>" href='/users/<%= @user.id %>/posts/<%= post.id %>'><%= post.id %>: <%= post.title%></a> 
    <p><%=post.text%></p>
    <%  if can? :destroy, Post %>
  <%= button_to 'delete post', "/users/#{@user.id}/posts/#{post.id}", method: :delete%>
<% end %>


    <div class='padd'>
      <h5 id="comment<%=post.id%>">Comments: <%= post.comments_counter %></h5>
      <h5 id="like<%=post.id%>">Likes: <%= post.likes_counter %></h5>
    </div>

    <% post.comments.each do |comment| %>
      <h5><%= comment.author.name %>: <%= comment.text %> </h5>
  <% if can? :destroy, Comment %>
      <%= button_to 'delete comment', "/posts/#{post.id}/comments/#{comment.id}", method: :delete %>
  <% end %>
    <% end %>
  </div>
<% end %>

<hr/>
<button id="paginatation"><%= link_to "Pagination", "/users/#{@user.id}/posts/", {:class => "Pagination"}%></button>
